@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
 
  
}


.coverDiv {
  background-image: url('../public/PlantsBG.webp');
  background-repeat: repeat-x;
  background-size: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  height: 100dvh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/*LoginForm*/
.loginUpper {
  background-image: url('../public/PlantsBG.webp');
  background-color: #F0F0F0;
  /* Default background size for devices wider than 1250px */
  background-size: 100vh;
  background-position: left bottom;
  background-repeat: repeat-x;
  /* Media query for devices with a maximum width of 1250px (mobile devices) */
  @media (max-width: 1250px) {
    background-size: 50vh;
  }
  outline: 0;
}

.form{
  @media (max-width: 720px) {
    width: 100dvh;
  }
}